@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #050752;
}


a {
  color: inherit;
  text-decoration: none;
}

.active {
  opacity: 1;
}

#scroller {
  animation: scroll 20s infinite linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.flip-box {
  perspective: 2000px;
}
.flip-box-inner{
  transition: all .6s ease-in-out;
  transform-style: preserve-3d;
}
.flip-box-inner:hover{
  transform: rotateY(-180deg);
}
.flip-box-front h3{
  transform: translateZ(100px);
}
.flip-box-back p{
  transform: translateZ(100px);
}
.flip-box-front, .flip-box-back{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.flip-box-back{
  transform: rotateY(180deg);
  
}


/* //////////////////////////////////////// Header ////////////////////////////////////// */
.header_admin{
  position: relative;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_admin:hover .header_adminContent{
  display: block;
}
.header_adminContent {
  display: none;
  overflow: hidden;
  padding: 20px 30px;
position: absolute;
  bottom: 0;
  transform: translateY(100%) translateX(-10%);
background: #4EAEE5;
border-radius: .4em;
  color: #fff;
  transition: .3s;
  z-index: 99999;
}

.heading{
  background: linear-gradient(to top right, #78E0F4, #4EAEE5, #050752);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;

  /* text-shadow: 0 5px 10px #dddd19; */
}

/* //////////////////////////////////////// Blog ////////////////////////////////////// */

.blog-modal-sanitized p{
  font-size: 18px;
  color: #000;
}
.blog-modal-sanitized a{
  color: #4eaee5;
}
.blog-modal-sanitized br{
  width: 100%;
  height: 1.2rem;
}

.blog-modal-sanitized h1{
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h2{
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h3{
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h4{
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
/* //////////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////// Pagination ////////////////////////////////////// */
.pagination{
  width: fit-content;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.pagination__page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  /* background-color: #45B1BE; */
  color: #000;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__pageActive{
  background-color: #4EAEE5;
  color: #fff;
}
.pagination__pagePrev{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 30px;
  background-color: #4EAEE5;
  color: #fff;
  cursor: pointer;
}
.pagination__pageNext{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-left: 30px;
  background-color: #4EAEE5;
  color: #fff;
  cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////// background gradient loading animation  //////////////////////// */
.loading{
  background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
animation: gradient 2s ease infinite ;
}
.loading1{
  background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
animation: gradient 2s ease infinite ;
  animation-delay: .1s;
}
.loading2{
  background: linear-gradient( -45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
animation: gradient 2s ease infinite ;
  animation-delay: .2s;
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 100% 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */





/* ############################################  Media Queries    ############################################# */
@media only screen and (max-width: 599px){
  .sidebar{
      position: absolute;
      z-index: 1;
  }
  .blog{
      padding: 20px;
  }
  .top-section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top-section-r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
  .top-section-search{
      width: 100%;
  }
  .blog-card{
      flex-direction: column;
      width: 100%;
      height: 200px;
  }
  .blog-card img{
      width: 100%;
      height: 100px;
  }
  .pagination{
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
  .top-section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top-section-r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .top-section{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
  }
  .top-section-r{
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
}
/* ############################################################################################################# */